<div>
    <h1>Ingresar</h1>
    <div>
        <form action="/api/auth/login" method="post">
            <label for="email">Email</label><br>
            <input type="text" name="email" placeholder="email" id="email">
            <br><br>
            <label for="password">Contraseña</label><br>
            <input type="password" name="password" placeholder="contraseña" id="password">
            <br><br>
            <button type="submit">Ingresar</button>
        </form>
        <br><br>
         <p>¿Todavía no tenes una cuenta? <a href="/views/register">Registrarse</a></p>
    </div>
</div>

<script src="/js/login.js"></script>
