<div>
    <h1>Registrarse</h1>
    <div>
        <form action="/api/users/" method="post">
            <label for="Nombre">Nombre</label><br>
            <input name="first_name" type="text" placeholder="nombre" id="nombre">
            <br><br>
            <label for="Apellido">Apellido</label><br>
            <input name="last_name" type="text" placeholder="apellido" id="apellido">
            <br><br>
            <label for="edad">Edad</label><br>
            <input name="age" type="text" placeholder="edad" id="edad">
            <br><br>

            <label for="role">Rol</label><br>
            <select name="role" id="role">
                <option value="user">user</option>
                <option value="admin">admin</option>
            </select>
            <br><br>

            <label for="email">Email</label><br>
            <input name="email" type="text" placeholder="email" id="email">
            <br><br>
            <label for="password">Contraseña</label><br>
            <input name="password" type="password" placeholder="contraseña" id="password">
            <br><br>
            <button type="submit">Registrarse</button>
        </form>
        <br><br>
        <p>¿Ya tenes una cuenta? <a href="/views/">Ingresar</a></p>
        
    </div>
</div>

<script src="/js/register.js"></script>